body {
  font-family: "Karla", sans-serif;
  background-color: #d0d0ce;
  min-height: 100vh;
   }
.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .header>h2{
      text-align: center;
  }
  
  .navbar {
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    flex-direction:row;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 999;
  }
  .navbar a {

    justify-content: start;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 09px 20px;
    text-decoration: none;
    
  }
 .navbar-text>img{
    height: 35px;
    width: 35px;
 } 
 .navbar-text>img:hover{
     cursor: pointer;
     box-shadow: lightslategray;
 }
 #drop{
     margin-left: 80px;
 }
 .dropdown-menu{
     size: 60%;
     text-align-last: center;
 }
 .dropdown-item{
     size: 60%;
 }
 iframe{
   width: 1500px;
   height: 1200px;
  margin-top: -55px;
  overflow: hidden;
 }